.newsletter {
  display: block;
  height: 50vh;
  margin: 8% 0;
  position: relative;
}

.img-php-open {
  width: 20%;
}
.box-newsletter{
  display:flex;

  height: 50vh;
  margin:10% 0;
  position: relative;
}
.img-box {

  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
}

.img-form {
  position: absolute;
  width: 70%;
  top: 0;
  left: 15%;
}
.box-text {
  position: relative;
  width: 50%;
}

.text-form {
  margin: 5% 0;
  line-height: 1.5;
}


.btn-form {
  margin-top: 5%;
}

.img-php-close {
  position: absolute;
  width: 10%;
  right: 0;
  bottom: -50%;
}

@media screen and (max-width: 768px) {
  /* NEWSLETTER MOBILE */
  .newsletter {
    margin: 10vh 0;
    height: fit-content;
    position: relative;
    height: 80vh;
  }
  .box-newsletter{
    display: block;
    height: max-content;
    width: 100%;
    position: relative;
  }
  .img-box{
    width: 100%;
    margin: 10vh 0;
    height: 20vh;
    justify-content: center;
    align-items: center;
  }
  .img-form{
    width: 100%;
    left: 0;
    top: 0;
  }
  .box-text {
    display: block;
    width: 100%;
    margin: 30vw 0;
    position: relative;

  }
  .title-newsletter {
    font-size: 2rem;
    text-align: left;
  }
  .text-form {
    margin: 10vw 0;
  }
.img-php-close{
  bottom: -40%;
  right: 0;

}
}
