<section class="myprojects">
  <div class="text-box-projects">
    <img
      src="assets/img/img_console.png"
      alt="icon-exp"
      class="icon-projects"
    />

    <h2 class="section_title title-projects">My projects</h2>
    <p class="text-projects">
      A small gallery of recent projects, I've done them all together with
      amazing people at my university or by my own. It's only a drop in the
      ocean compared to the entire list to come...
    </p>
    <a href="/projects" class="button-blue button-projects">See more</a>
  </div>

  <div class="projects">
    <div class="project">
      <a href="https://atomicblog.herokuapp.com/"><img
        src="assets/img/img_project_atomic.png"
        alt="icon-exp"
        class="img-project"
      /></a>
    </div>
    <div class="project">
      <a href="https://portfolio-despouys.herokuapp.com/">     <img
        src="assets/img/img_project_port.png"
        alt="icon-exp"
        class="img-project"
      /></a>

    </div>
    <div class="project">
      <a href="https://levieuxmonastere.com/en/home/">
        <img
        src="assets/img/img_project_lvm.png"
        alt="icon-exp"
        class="img-project"
      />
      </a>

    </div>
  </div>
  <div class="projects projects2">
    <div class="project">
      <a href="https://still-sierra-00660.herokuapp.com/">    <img
        src="assets/img/img_project_myfitness.png"
        alt="icon-exp"
        class="img-project"
      /></a>

    </div>
    <div class="project">
      <a href="https://egaliteshommefemme.herokuapp.com/"><img
        src="assets/img/img_project_femmes.png"
        alt="icon-exp"
        class="img-project"
      /></a>

    </div>
    <div class="project">
      <a href="https://nifty-poincare-2d3d5c.netlify.app/"><img
        src="assets/img/img_project_mega.png"
        alt="icon-exp"
        class="img-project"
      /></a>

    </div>
  </div>
</section>
