
  <nav class="nav-bar">
    <div class="logo-nav">
      <a href="https://www.linkedin.com/in/andr%C3%A9-despouys/" class="logo-social">
        <i class="fa fa-linkedin-square fa-lg logo-social" aria-hidden="true"></i>

      </a>
      <a href="https://www.reddit.com/user/Rude_Ad_7892/" class="logo-social">
        <i class="fa fa-reddit fa-lg logo-social" aria-hidden="true"></i>

      </a>
      <a href="https://github.com/andredespouys" class="logo-social">
      <i class="fa fa-github fa-lg logo-social" aria-hidden="true"></i>
    </a>
    </div>
    <!--  -->
    <div class="icon-box">
      <a href="/"><img class="logo" src="../assets/img/A.png" alt="icon-profil" /></a>
    </div>
    <!--  -->
    <div class="navbox-list">
      <ul class="nav-list">
        <li class="item-nav">
          <a href="/about" class="nav-a">About</a>
        </li>
        <li class="item-nav">
          <a href="/projects" class="nav-a">Projects</a>
        </li>
        <li class="item-nav">
          <a href = "mailto: andredespouys@gmail.com" class=" nav-a button-blue btn-contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- NAV MOBILE -->
  <nav class="nav-mobile">
    <div class="logo-mobile-box">
      <a href="/"
        ><img
          class="img-logo-mobile"
          src="../assets/img/A.png"
          alt="logo-mobile"
      /></a>
    </div>
    <!-- Burger Menu MOBILE -->
    <div class="navbar-nav-top">
      <div class="navbox-list-mobile">
        <ul class="nav-list-mobile">
          <li class="item-nav-mobile">
            <a href="/about"class="nav-a-mobile">About</a>
          </li>
          <li class="item-nav-mobile">
            <a href="/projects"class="nav-a-mobile">Projects</a>
          </li>
          <li class="item-nav-mobile">
            <a href = "mailto: andredespouys@gmail.com" class="nav-a-mobile">Contact</a>
          </li>

        </ul>
      </div>
      <div class="logo-nav-mobile">
        <a href="https://www.linkedin.com/in/andr%C3%A9-despouys/" class="logo-social-mobile">
          <i class="fa fa-linkedin-square fa-lg logo-social social-mobile-link" aria-hidden="true"></i>

        </a>
        <a href="https://www.reddit.com/user/Rude_Ad_7892/" class="logo-social-mobile social-mobile-link">
          <i class="fa fa-reddit fa-lg logo-social" aria-hidden="true"></i>

        </a>
        <a href="https://github.com/andredespouys" class="logo-social-mobile social-mobile-link">
        <i class="fa fa-github fa-lg logo-social" aria-hidden="true"></i>
      </a>
      </div>
    </div>
    <div class="menu-btn">
      <div class="menu-btn_burger"></div>
    </div>
  </nav>
