<section class="about-landing">
  <div class="about-box">
    <div class="about-img-box-mobile">
      <img src="/assets/img/img_story.png" alt="image-about-me" class="about-img">
    </div>
    <div class="about-text-box">
      <h1 class="title-about section_title ">Who am I?</h1>
      <p class="text-about ">I’m a self-taught web developer. <br><br>
        I’m in continuous development and learning every single day.<br><br> Having the basic principles of web developement, my curiosity takes me to different domains in the industry, one of them the cybersecurity, hoping one day to work on it.</p>
      <a href="/projects" class="btn-about button-blue">See my work</a>
    </div>
    <div class="about-img-box">
      <img src="/assets/img/img_story.png" alt="image-about-me" class="about-img">
    </div>
  </div>
</section>
