/* NAV DESKTOP */
.logo {
  cursor: pointer;
}
.nav-mobile {
  display: none;
}
.nav-bar {
  top: 0;
  left: 0;
  position: fixed;
  width: 10%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #0f0f0f;
}

.logo-nav {
  width: 50px;
  height: 40%;
  display: flex;
  flex-direction: column;
  margin: 10% auto  ;
  align-items: center;
}

.logo-social {
  margin: 50% auto 0;
  cursor: pointer;
  font-size: 2.5rem;
  transition: 0.2s ease-out;
}
.logo-social:hover {
  color: $blue;
}

.icon-box {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}
.logo {
  width: 50px;
  margin: 0 auto;
}

.navbox-list {
  width: 100%;
  height: 40%;
  justify-content: center;
}
.nav-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  height: 50%;
  margin-top: 30%;
  color: #f6f7eb;
}

.item-nav {
  padding: 1% 6%;
  text-align: center;
  font-size: 90%;
  margin-top: 30%;
  transition: 1s ease;
}

.nav-a {
  color: #ffffff;
}
.right {
  border-right: 0.5px white;
  border-right-style: solid;
}

.nav-a:hover {
  color: #ff5b7b;
}

// NAVBAR MOBILE

@media screen and (max-width: 768px) {
  .nav-bar {
    display: none;
  }

  .nav-mobile {
    display: flex;
    justify-content: right;
    padding: 5% 0;
    margin: 0 5% 10% ;
    z-index: 1;
  }

  .logo-mobile-box {
    width: 80%;

    text-align: center;
  }
  .img-logo-mobile {
    width: 25%;
  }

  .menu-btn {
    margin-top: 3%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn_burger {
    width: 30px;
    height: 5px;
    background: white;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn_burger::before,
  .menu-btn_burger::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 5px;
    background: white;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }
  .menu-btn_burger::before {
    transform: translateY(-10px);
  }
  .menu-btn_burger::after {
    transform: translateY(10px);
  }

  // ANIMATION

  .menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  // MENU MOBILE
  .navbar-nav-top {
    height: 100%;
    background-color: $primary-color;
    margin: 5% auto 0;
    display: block;
    position: fixed;
    align-items: center;
    width: 100%;
    text-align: center;
    top: 19vw;
    left: -150%;
    transition: all 0.5s ease-in-out;
    z-index: 1;
    padding: 10% 0;
  }
  .logo-nav-mobile{
    display: flex;
    position: relative;
    bottom: 30%;
    width: 100%;

    justify-content: space-evenly;
  }
  .social-mobile-link{
    width: 50px;

  }
  // ANIMATION
  .showMenu {
    left: 0;
  }
  .navbox-list-mobile {
    display: block;
    height: 90%;
    padding: 5%;
    color: #f6f7eb;
  }
  .item-nav-mobile {
    width: 100%;
    margin: 10% 0;
    align-items: left;
  }
  .nav-a-mobile {
    text-align: left;
    font-size: 3rem;
  }
}
