<section id="landing">
  <div class="box-landing">
    <div class="landing-guy-mobile">
      <img class="little-guy" src="../assets/img/LittleGuy.png" alt="" />
    </div>
    <h1 class="title-landing">
      Hi<br />
      I’m <img src="../assets/img/A.png" class="A" />ndré, <br />
      full-stack web developer
    </h1>
    <h3 class="subtitle-landing">
      Currently a bachelor's degree student in <br> Multimedia and Internet at Bordeaux University
    </h3>
    <a class="button-blue" href="/projects">See my work</a>
  </div>
  <div class="landing-guy-desktop">
    <img class="little-guy" src="../assets/img/LittleGuy.png" alt="" />
  </div>
  <img class="tag-landing" src="../assets/img/img_tags.png" alt="" />
  <img class="arrow" src="../assets/img/arrow.png" alt="" />
</section>
