
<section class="newsletter">
  <img class="img-php-open" src="assets/img/open_php.png" alt="" />

  <div class="box-newsletter">
    <div class="img-box">
      <img class="img-form" src="assets/img/form_guy.png" alt="" />
    </div>
    <div class="box-text">
      <h2 class="title-newsletter">Contact me</h2>
      <p class="text-form">
        I’m interested in freelance opportunities, especially ambitious or small
        projects. However, if you have other request or question, don’t hesitate
        to specify it.
      </p>

        <a href = "mailto: andredespouys@gmail.com" class="button-blue btn-form">Send message</a>


    </div>
  </div>
  <img
        src="assets/img/close_php.png"
        alt="img-tag-php"
        class="img-php-close"
      />

</section>
