<section class="skills-experiences">
  <div class="row1">
    <div class="text-box-skills">
      <h2 class="title-skills">Skills & Experience</h2>
      <p class="text-skills">
        I’m a self-taught web developer. I’m in continuous development and
        learning every single day. Having the basic principles of web
        developement, my curiosity takes me to different domains in the
        industry, one of them the cybersecurity, hoping one day to work on it.
      </p>
      <a href="/about" class="button-blue">Know more</a>
    </div>
    <div class="graphs">
      <div class="graph">
        <h3 class="title-graph">Front-End</h3>
        <i class="bar-gris"></i>
        <i class="bar-blue"></i>
      </div>
      <div class="graph">
        <h3 class="title-graph">Back-End</h3>
        <i class="bar-gris"></i>
        <i class="bar-red back"></i>
      </div>
      <div class="graph">
        <h3 class="title-graph">Version Control</h3>
        <i class="bar-gris"></i>
        <i class="bar-blue version"></i>
      </div>
      <div class="graph">
        <h3 class="title-graph">Databases</h3>
        <i class="bar-gris"></i>
        <i class="bar-red datab"></i>
      </div>
    </div>
  </div>
  <div class="row2">
    <div class="experience">
      <img src="assets/img/img_html.png" alt="icon-exp" class="icon-exp" />

      <div class="text-box-exp">
        <h3 class="title-exp">Full-Stack Web Developement Course</h3>
        <span class="info-exp sp1">Udemy <br />2020-2021</span>
        <p class="text-exp">
          Taking advantage of quarantine in 2020, I got a certificate from Udemy
          to start and develope my skills as a full-stack web developer, this
          got me the entrance to my current collegue, in France.
        </p>
      </div>
    </div>
    <div class="experience exp2">
      <img src="assets/img/img_python.png" alt="icon-exp" class="icon-exp" />

      <div class="text-box-exp">
        <h3 class="title-exp">100 days of Python <br />Online Course</h3>
        <span class="info-exp">Udemy <br />2021-now</span>
        <p class="text-exp">
          As part of my developer journey, I started another online course, thi
          one to get to know the Python language and keep upgrading my skils.
        </p>
      </div>
    </div>
    <div class="experience exp3">
      <img src="assets/img/img_but.png" alt="icon-exp" class="icon-exp" />

      <div class="text-box-exp">
        <h3 class="title-exp">Bachelors Degree on Multimedia & Internet</h3>
        <span class="info-exp">I.U.T Bordeaux Montaigne <br />2022-2024</span>
        <p class="text-exp">
          After two years working in France, I got accepted and currently
          studying at the amazing facilities in Bordeaux. Developing, learning
          and creating for the future.
        </p>
      </div>
    </div>
  </div>
</section>
