body {
  background-color: $primary-color;
  font-family: "Roboto";
  display: flex;
  margin: 0;
  padding: 0;
}

.grid {
  margin: 0 auto;
}

a {
  color: #f6f7eb;
  text-decoration: none;
}
a:hover {
  color: inherit;
}

.button-blue {
  /* bouton BLEU */
  display: table;
  max-width: 100%;
  text-align: center;
  padding: 12px 29px;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  background-color: $blue;
  color: #393e41;
  background: linear-gradient(to left, $blue 50%, #41a98b 50%) right;
  background-size: 200%;
  transition: 0.2s ease-out;
}

.button-blue:hover {
  transform: translateX(5px);
  background-color: $blue;
  background-position: left;
  color: #f6f7eb;
}

/* ----------------------------GENERAL----------------------------------------------------------- */

h1 {
  font-size: 4rem;
  text-align: left;
  color: #f6f7eb;

}

h2 {
  color: $blue;
  font-size: 4vw;
  font-weight: bold;
}
h3 {
  color: $light-gray;
  font-size: 1.5rem;
}

p {
  color: #ffffff;
}

.texte_roboto {
  font-family: roboto, arial, helvetica, sans-serif;
}

.section_title {
  /*classe à ajouter pour tous les titres des sections*/
  display: flex;
  font-family: roboto, arial, helvetica, sans-serif;
  flex-direction: row;
  align-items: center;
  margin: 5% 0;
}

.section_title i {
  display: inline-block;
  background-color: #f6f7eb;
  height: 3px;
  flex-grow: 1;
  margin-left: 50px;
  border-radius: 3px;
}

.body-section {
  display: block;
  padding: 5% 5% 5% 15%;
}



@media screen and (max-width: 768px) {
  h1 {
    font-size:2.5rem;

  }
  h2 {
    font-size:2rem;
    text-align: left;
  }
  h3 {
    font-size:1.5rem;
  }
  p{
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: left;
    width: 100%;

  }
  .button-blue{
    margin: 0;
  }
  body {
    display: block;
  }
  .body-section {
    display: block;
    padding: 0 10%;
  }


}
